*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Color palet: #fdc333 #c02e3a #f9b9b7 */

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #c02e3a;
    padding: 10px 0px;
}

header .container-logo-menu{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: end;
    align-items: center;
}

header .container-logo-menu .logo{
    width: 80%;
}

header .container-logo-menu .logo h1{
    font-weight: 900;
    color: #ffffff;
}

header .container-logo-menu .menu{
    display: flex;;
}

header .container-logo-menu .menu a{
    padding: 10px 8px;
    text-decoration: none;
    color: white;
}

header .container-logo-menu .menu a:hover{
    background-color: #fdc333;
    color: #000000;
}

.banner{
    width: 90%;
    margin: 10px auto;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-photo/flat-lay-black-lives-matter-awareness_23-2148913825.jpg);
    background-position: center;
    background-size: cover;
}

.banner a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

.banner .b-banner{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.banner .b-banner p{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px white;
}

.banner .b-banner:hover{
    background-image: linear-gradient(45deg, transparent 40%, rgba(255, 255, 255, 0.1), transparent 70%);
    background-size: 250%;

    animation: back;
    animation-duration: .3s;
    animation-iteration-count: infinit1;
    animation-timing-function: linear;
}

@keyframes back {
    0%{background-position: 0%;}
    50%{background-position: 100%;}
    100%{background-position: 0%;}

}

section{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

section article{
    max-width: 565px;
    margin: 0px 20px 20px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 0px;
    border-radius: 10px;
}

section article .text-article{
    height: 300px;
    overflow: hidden;
}

section article .text-article .section-page{
    width: 100%;
    margin: 0px auto;
}

section article .text-article .section-page .article-page{
    border: none;
}

section article .text-article header{
    display: none;
}
section article .text-article .banner{
    display: none;
}

section article .text-article h1{
    margin: 10px 0px 20px 0px;
    font-size: 28px;
    font-weight: 900;
}

section article .text-article p{
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0px;
}

section article .lermais{
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: black;
    text-decoration: none;
    background-color: #fdc333;
    border-radius: 0px 0px 10px 10px;
}

section article .lermais:hover{
    background-color: #c02e3a;
    color: white;
}




footer{
    padding: 20px 0px;
    background-color: #c02e3a;
}

footer .footer-container{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
}




/*----------------------------------------
    RESPONSIVE SETTING
-----------------------------------------*/

@media screen and (max-width: 600px){
    #menu{
        display: none;
    }
    #container-logo-menu{
        display: block;
    }
    #container-logo-menu .logo{
        margin: auto;
    }
    #container-logo-menu .logo h1{
        text-align: center;
    }
    
    section article{
        margin: 0px 0px 20px 0px;
    }
}

@media screen and (min-width: 601px){
    .banner .b-banner p{
        font-size: 30px;
    }
    #dropdown{
        display: none;
    }
}

/* configuração do menu mobile*/
.dropdown {
    position: relative;
    left: 48%;
    display: inline-block;
    margin: 5px 0px;
}

.dropdown .material-symbols-outlined{
    font-weight: 900;
    font-size: 30px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -148px;
    background-color: #f9f9f9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    padding: 8px 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}